<script type="text/ng-template" id="classListCollect.html">

    <div class="modal-header">
        <button type="button" class="close" ng-click="dismiss()"></button>
        <h4 class="modal-title">查看班级统计</span></h4>
    </div>
    <div class="modal-body">
        <div class="distribution-body">
            <table class="table table-striped" style="width: 100%" border="1">
                <thead>
                <tr>
                    <th colspan="1">课程</th>
                    <th colspan="1">学生</th>
                    <th colspan="3">加分情况</th>
                    <th colspan="3">旷课情况</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="class in classOptions">
                    <td>{{class.courseName}}<br>{{class.courseCode}}<br>{{class.startYear - 1}}/{{class.startYear}}{{class.term ? '下' : '上'}}</td>
                    <td>{{class.studentNumber}}</td>
                    <td><small style="color: red; font-size: xx-small;">MAX</small><br>{{class.maxScore}}</td>
                    <td><small style="color: red; font-size: xx-small;">AVG</small><br>{{class.avgSocre}}</td>
                    <td><small style="color: red; font-size: xx-small;">MIN</small><br>{{class.minScore}}</td>
                    <td><small style="color: red; font-size: xx-small;">MAX</small><br>{{class.maxStudyDay}}</td>
                    <td><small style="color: red; font-size: xx-small;">AVG</small><br>{{class.acgStudyDay}}</td>
                    <td><small style="color: red; font-size: xx-small;">MIN</small><br>{{class.minStudyDay}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</script>
