<script type="text/ng-template" id="studentListCollect.html">

    <div class="modal-header">
        <button type="button" class="close" ng-click="dismiss()"></button>
        <h4 class="modal-title">查看学生统计</span></h4>
    </div>
    <div class="modal-body">
        <div class="distribution-body">
            <table class="table table-striped" style="width: 100%" border="1">
                <thead>
                <tr>
                    <th ng-if="sign == 2">学生</th>
                    <th ng-if="sign == 3">课程</th>
                    <th>加分情况</th>
                    <th>上课总次数</th>
                    <th>旷课次数</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="student in studentOptions.attendanceCollect" ng-init="setClassForStudent(student)">
                    <td ng-if="sign == 2">{{student.studentName}}<br>{{student.studentCode}}</td>
                    <td ng-if="sign == 3">{{student.courseName}}<br>{{student.courseCode}}</td>
                    <td>{{student.score}}分</td>
                    <td style="background-color: {{student.level.color}}">{{student.studyDay}}</td>
                    <td style="background-color: {{student.level.color}}">{{studentMaxStudyDay - student.studyDay}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</script>
