<script type="text/ng-template" id="studentList.html">

    <div class="modal-header">
        <button type="button" class="close" ng-click="dismiss()"></button>
        <h4 class="modal-title">选择学生</span></h4>
    </div>
    <div class="modal-body">
        <div class="distribution-body">
            <table class="table table-striped" style="width: 100%" border="1">
                <thead>
                    <tr>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>旷课次数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in studentOptions" ng-click="close(student)"
                        ng-init="studentMaxStudyDay = (studentMaxStudyDay || studentStudyInfo[student.studentId].studyDay) > studentStudyInfo[student.studentId].studyDay ? studentMaxStudyDay : studentStudyInfo[student.studentId].studyDay "
                    >
                        <td>{{student.studentCode}}</td>
                        <td>{{student.studentName}}{{Math.max((studentMaxStudyDay || studentStudyInfo[student.studentId].studyDay), studentStudyInfo[student.studentId].studyDay)}}</td>
                        <td ng-if="studentStudyInfo[student.studentId]">{{studentMaxStudyDay - studentStudyInfo[student.studentId].studyDay}}</td>
                        <td ng-if="!studentStudyInfo[student.studentId]">{{studentMaxStudyDay - studentStudyInfo[-1].studyDay}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</script>
