<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzu.edu.dao.AbsenceLevelMapper">
  <resultMap id="BaseResultMap" type="com.fzu.edu.model.AbsenceLevel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="min_value" jdbcType="REAL" property="minValue" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="school_id" jdbcType="INTEGER" property="schoolId" />
    <result column="max_value" jdbcType="REAL" property="maxValue" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, min_value, color, flag, school_id, max_value
  </sql>

</mapper>