<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzu.edu.dao.ClassManageMapper">
  <resultMap id="BaseResultMap" type="com.fzu.edu.model.ClassInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="build_name" jdbcType="VARCHAR" property="buildName" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="road" jdbcType="VARCHAR" property="road" />
    <result column="school_id" jdbcType="INTEGER" property="schoolId" />
    <result column="row" jdbcType="INTEGER" property="row" />
    <result column="col" jdbcType="INTEGER" property="col" />
  </resultMap>
  <sql id="Base_Column_List">
    id, build_name, class_name, flag, road, school_id
  </sql>

  <select id="getAllClass" parameterType="hashmap" resultMap="hashmap">
    SELECT CI.*,SI.id AS schoolId, SI.name AS schoolName
    FROM class_info AS CI, school_info AS SI
    WHERE
    CI.flag = 0 AND SI.flag = 0
    AND CI.school_id = SI.id AND CI.school_id = #{school_id}
    <if test="searchValue!=null and searchValue!=''">
      AND CI.[build_name] LIKE '%'+#{searchValue}+'%'
    </if>

  </select>

</mapper>