<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fzu.edu.dao.CollegeManageMapper" >
  <resultMap id="BaseResultMap" type="com.fzu.edu.model.CollegeInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="school_id" property="schoolId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fzu.edu.model.CollegeInfo" extends="BaseResultMap" >
    <result column="info" property="info" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, flag, school_id
  </sql>
  <sql id="Blob_Column_List" >
    info
  </sql>

  <!--查询学院信息-->
  <select id="getAllCollege" parameterType="hashmap" resultMap="ResultMapWithBLOBs">
    SELECT CI.*,SI.id AS schoolId, SI.name AS schoolName
    FROM college_info AS CI, school_info AS SI
    WHERE
      CI.flag = 0 AND SI.flag = 0
      AND CI.school_id = SI.id
    <if test="schoolId!=null and schoolId!=''">
      AND SI.id = #{schoolId}
    </if>
    <if test="name!=null and name!=''">
      AND CI.[name] LIKE '%'+#{name}+'%'
    </if>
    <if test="code!=null and code!=''">
      AND CI.[code] LIKE '%'+#{code}+'%'
    </if>
    ORDER BY CI.[${order}]
    <if test="__order == '0' || __order == 0">
      ASC
    </if>
    <if test="__order == '1' || __order == 1">
      DESC
    </if>

  </select>
  <!--查询学院信息end-->


  <!--<select id="getSchoolAndCollege" resultType="hashmap" parameterType="com.fzu.edu.model.SchoolInfo">
    SELECT S.id, S.name, S.code, C.id AS cid, C.name AS cname, C.code AS ccode
    FROM school_info AS S
    LEFT JOIN college_info AS C ON S.id = C.school_id
    WHERE S.flag = 0 AND ( C.flag = 0 OR C.flag IS NULL )
    <if test="id != null">
      AND S.id = #{id}
    </if>
    ;
  </select>-->

  <select id="getSchoolAndCollege" resultType="hashmap" parameterType="hashmap">
    SELECT S.id, S.name, S.code, C.id AS cid, C.name AS cname, C.code AS ccode
    FROM school_info AS S
    LEFT JOIN college_info AS C ON S.id = C.school_id
    WHERE S.flag = 0 AND C.flag = 0
    <if test="id != null">
      AND S.id = #{id}
    </if>
    ;
  </select>
  
</mapper>