<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fzu.edu.dao.CourseManageMapper" >
  <resultMap id="BaseResultMap" type="com.fzu.edu.model.CourseInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="INTEGER" />
    <result column="time_type" property="timeType" jdbcType="INTEGER" />
    <result column="college_id" property="collegeId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fzu.edu.model.CourseInfo" extends="BaseResultMap" >
    <result column="info" property="info" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, flag, college_id, start_time, time_type
  </sql>
  <sql id="Blob_Column_List" >
    info
  </sql>

  <!--查询学院信息-->
  <select id="getAllCourse" parameterType="hashmap" resultType="hashmap">
    SELECT
      COI.*,
      CI.id AS collegeId, CI.name AS collegeName,
      SI.id AS schoolId, SI.name AS schoolName,
        '从第' + CONVERT(VARCHAR,COI.start_time) + '周开始, ' +
        CASE COI.time_type WHEN 0 THEN '每周' WHEN 1 THEN '单周' WHEN 2 THEN '双周' END
      AS [time]
    FROM course_info AS COI, college_info AS CI, school_info AS SI
    WHERE
      COI.flag = 0 AND CI.flag = 0 AND SI.flag = 0
      AND COI.college_id = CI.id AND CI.school_id = SI.id
    <!--<if test="collegeId!=null and collegeId!=''">
      AND CI.id = #{collegeId}
    </if>-->
    <if test="schoolName!=null and schoolName!=''">
      AND CI.[name] LIKE '%'+#{schoolName}+'%'
    </if>
    <if test="collegeName!=null and collegeName!=''">
      AND SI.[name] LIKE '%'+#{collegeName}+'%'
    </if>
    <if test="name!=null and name!=''">
      AND COI.[name] LIKE '%'+#{name}+'%'
    </if>
    <if test="code!=null and code!=''">
      AND COI.[code] LIKE '%'+#{code}+'%'
    </if>
    <if test="credit!=null and credit!=''">
      AND COI.[credit] = #{credit}
    </if>
    <if test="studyHours!=null and studyHours!=''">
      AND COI.[study_hours] = #{studyHours}
    </if>
    ORDER BY COI.[${order}]
    <if test="__order == '0' || __order == 0">
      ASC
    </if>
    <if test="__order == '1' || __order == 1">
      DESC
    </if>

  </select>
  <!--查询学院信息end-->


  <!--<select id="getCollegeAndCourse" resultType="hashmap" parameterType="com.fzu.edu.model.CollegeInfo">
    SELECT S.id, S.name, S.code, C.id AS cid, C.name AS cname, C.code AS ccode
    FROM college_info AS S
    LEFT JOIN course_info AS C ON S.id = C.college_id
    WHERE S.flag = 0 AND ( C.flag = 0 OR C.flag IS NULL )
    <if test="id != null">
      AND S.id = #{id}
    </if>
    ;
  </select>-->

  <select id="getCollegeAndCourse" resultType="hashmap" parameterType="hashmap">
    SELECT S.id, S.name, S.code, C.id AS cid, C.name AS cname, C.code AS ccode
    FROM college_info AS S
    LEFT JOIN course_info AS C ON S.id = C.college_id
    WHERE S.flag = 0 AND C.flag = 0
    <if test="id != null">
      AND S.id = #{id}
    </if>
    ;
  </select>
  
</mapper>