<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fzu.edu.dao.CourseArrangeMapper" >
  <resultMap id="BaseResultMap" type="com.fzu.edu.model.CourseArrange" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="INTEGER" />
    <result column="time_type" property="timeType" jdbcType="INTEGER" />
    <result column="week" property="week" jdbcType="VARCHAR" />
    <result column="class_index" property="classIndex" jdbcType="VARCHAR" />
    <result column="stary_year" property="staryYear" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, flag, course_id, start_time, time_type, week, class_index, stary_year
  </sql>

</mapper>