<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fzu.edu.dao.CourseManageMapper" >
  <resultMap id="CourseInfoMap" type="com.fzu.edu.model.CourseInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="info" property="info" jdbcType="LONGVARCHAR" />
    <result column="college_id" property="collegeId" jdbcType="INTEGER" />
    <result column="credit" property="credit" jdbcType="FLOAT"/>
    <result column="study_hours" property="studyHours" jdbcType="FLOAT"/>
  </resultMap>
  <resultMap id="CourseFullInfoMap" type="com.fzu.edu.model.CourseFullInfo" extends="CourseInfoMap" >
    <result column="college_name" property="collegeName" jdbcType="VARCHAR"/>
    <result column="school_id" property="schoolId" jdbcType="INTEGER"/>
    <result column="school_name" property="schoolName" jdbcType="VARCHAR"/>
    <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
    <result column="parent_name" property="parentName" jdbcType="VARCHAR"/>
  </resultMap>

  <!--查询学院信息-->
  <select id="getAllCourse" parameterType="hashmap" resultMap="CourseFullInfoMap">
    SELECT *
    FROM course_full_info
    WHERE
      flag = 0
    <if test="schoolName!=null and schoolName!=''">
      AND `school_name` LIKE '%'+#{schoolName}+'%'
    </if>
    <if test="parentName!=null and parentName!=''">
      AND `parent_name` LIKE '%'+#{parentName}+'%'
    </if>
    <if test="collegeName!=null and collegeName!=''">
      AND `college_name` LIKE '%'+#{collegeName}+'%'
    </if>
    <if test="name!=null and name!=''">
      AND `name` LIKE '%'+#{name}+'%'
    </if>
    <if test="code!=null and code!=''">
      AND `code` LIKE '%'+#{code}+'%'
    </if>
    <if test="credit!=null and credit!=''">
      AND `credit` = #{credit}
    </if>
    <if test="studyHours!=null and studyHours!=''">
      AND `study_hours` = #{studyHours}
    </if>
    <if test="order!=null and order!=''">
      ORDER BY `${order}`
      <if test="__order == '0' || __order == 0">
        ASC
      </if>
      <if test="__order == '1' || __order == 1">
        DESC
      </if>
    </if>


  </select>
  <!--查询学院信息end-->


  <!--<select id="getCollegeAndCourse" resultType="hashmap" parameterType="com.fzu.edu.model.CollegeInfo">
    SELECT S.id, S.name, S.code, C.id AS cid, C.name AS cname, C.code AS ccode
    FROM college_info AS S
    LEFT JOIN course_info AS C ON S.id = C.college_id
    WHERE S.flag = 0 AND ( C.flag = 0 OR C.flag IS NULL )
    <if test="id != null">
      AND S.id = #{id}
    </if>
    ;
  </select>-->

  <select id="getCollegeAndCourse" resultType="hashmap" parameterType="hashmap">
    SELECT S.id, S.name, S.code, C.id AS cid, C.name AS cname, C.code AS ccode
    FROM college_info AS S
    LEFT JOIN course_info AS C ON S.id = C.college_id
    WHERE S.flag = 0 AND C.flag = 0
    <if test="id != null">
      AND S.id = #{id}
    </if>
    ;
  </select>
  
</mapper>