<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fzu.edu.dao.SystemAdministratorMapper" >
  <resultMap id="BaseResultMap" type="com.fzu.edu.model.SystemAdministrator" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="info" property="info" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, code, flag, info
  </sql>

  <select id="loginCheck" resultType="hashmap">
    SELECT UBI.id, TI.id as rid
    FROM user_basic_info UBI
    LEFT JOIN user_login_info ULI ON ULI.user_id = UBI.id
    LEFT JOIN system_administrator TI ON TI.user_id = UBI.id
    WHERE
    UBI.flag = 0 AND TI.flag = 0
    AND ${sqlWhere}
    ;
  </select>

</mapper>