<script type="text/ng-template" id="schoolForm.html">
<div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()"></button>
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <form name="schoolForm" class="form" ng-submit="saveData()">
        <div class="row">
            <div class="col-md-12 form-inline">
                <span class="form-icon-required"></span>
                <div class="form-group">
                    <label class="form-label">名称：</label>
                    <input type="text" ng-model="formData.name" required  class="form-control" name="name"  >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-inline">
                <span class="form-icon-required"></span>
                <div class="form-group">
                    <label class="form-label">编号：</label>
                    <input type="text" ng-model="formData.code" required  class="form-control" name="code"  >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-inline">
                <div class="form-group">
                    <label class="form-label">详情：</label>
                    <textarea rows="12" ng-model="formData.info" class="form-control no-resize" name="info"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-inline">
                <div class="form-group">
                    <button class="btn btn-primary btn-single btn-width-md margin-auto">保存</button>
                </div>
            </div>
        </div>
    </form>
</div>

</script>