<style type="text/css" rel="stylesheet">
    .level-item{
        display: inline-block;
        margin: 2em;
    }
    input[disabled]{
        background-color: transparent !important;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        cursor: default !important;
        color: #ffffff;
    }
    .form-label{
        font-size: 14px;
    }
</style>
<div class="panel ">
    <form ng-submit="saveData()">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{bodyTitle}}<button style="float: right; position: relative; top: -.5em;" type="submit" class="btn btn-width-xsm btn-default" ng-if="edit">保存</button>
                <button style="float: right; position: relative; top: -.5em;" type="button" class="btn btn-width-xsm btn-default" ng-click="levelOptions.push({edit: true})">添加</button>
            </h3>
        </div>
        <div class="panel-body" style="min-height: 75vh">
            <section class="panel panel-info level-item" ng-repeat="level in levelOptions" id="level-item-{{$index}}" ng-dblclick="level.edit = true" ng-if="!level.delete">
                <header class="panel-heading level-item-heading-{{$index}}">
                    <div class="panel-actions" ng-if="level.edit">
                        <a href="javascript:;" class="panel-action panel-action-dismiss" ng-click="level.delete = true"></a>
                    </div>
                    <h2 class="panel-title">
                        <div style="" class="form-inline nowrap">
                            <label class="form-label">名称：</label>
                            <input style="width: 10em;" type="text" class="form-control" required ng-model="level.name" ng-disabled="!level.edit" placeholder="名称">
                            <span style="width: 1em; display: inline-block;"></span>
                        </div>
                        <div style="" class="form-inline nowrap">
                            <!--<label class="form-label">比例：</label>-->
                            <label class="form-label">次数：</label>
                            <input style="width: 10em;" type="number"
                                   class="form-control" min="0" max="{{level.maxValue}} || 100"
                                   required ng-model="level.minValue" ng-disabled="!level.edit"
                                   placeholder="次数"
                            ><!--<input style="width: 5em;" min="{{level.minValue}} || 0" max="100"
                                    type="number" class="form-control" required ng-model="level.maxValue"
                                    ng-disabled="!level.edit" placeholder="最大">-->
                        </div>
                        <div class="form-inline nowrap">
                            <label class="form-label">颜色：</label>
                            <input style="width: 10em" required index="{{$index}}" type="color" class="form-control"
                                   ng-model="level.color" ng-disabled="!level.edit" ng-init="level.color=level.color || '#f3f3f3'" />
                        </div>
                    </h2>
                </header>
            </section>
        </div>
    </form>
</div>

