<style type="text/css" rel="stylesheet">
    .weight-template{
        box-shadow: 0 0 5px #4e4e4e;
        margin: 1em .5em;
        min-width: 20%;
    }
    div[id^='form-body-']:not(:first-child){
        margin-top: .5em;
    }
    input[disabled]{
        background-color: transparent !important;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        cursor: default !important;
    }
</style>
<div class="">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{bodyTitle}}
        </h3>
    </div>
    <div class="panel-body ">
        <form ng-submit="saveData()">
        <div class="btn-toolbar">
            <div class="btn-group focus-btn-group" ng-if="sign == 0">
                <button type="button" class="btn btn-default gridBtn" ng-click="templateOptions.push({value: [{}], edit: true})"><span class="fa-plus"></span> 新增</button>
                <button class="btn btn-default gridBtn" ng-if="edit"><span class="fa-plus"></span> 保存</button>
            </div>

            <div class="form-inline text-right form-group" ng-if="sign != 0">
                <div class="form-group">
                    <input type="text" ng-model="searchValue" class="form-control" size="25" placeholder="请输入模板名称进行查询" />
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-single" ng-click="queryList()">查询</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-single" ng-click="searchInit()">重置</button>
                </div>
            </div>
        </div>
        <section class="panel-auto panel panel-featured weight-template" ng-repeat="template in templateOptions" ng-if="!template.delete" ng-dblclick="templateReadOnly ? '' : template.edit = true">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="javascript:;" class="panel-action panel-action-dismiss" ng-click="template.delete = true" ng-if="!templateReadOnly && template.edit"></a>
                </div>
                <h2 class="panel-title">
                    <div style="width: calc(100% - 1.5em)">
                        <input type="text" ng-disabled="templateReadOnly || !template.edit" required class="form-control" ng-init="template.name = template.name || $index" ng-model="template.name">
                    </div>
                </h2>
            </header>
            <div class="panel-body">
                <div class="row form-inline" ng-repeat="row in template.value" id="form-body-{{$index}}">
                    <input type="text" required ng-model="row.name" class="form-control" placeholder="名称" ng-disabled="templateReadOnly || !template.edit">
                    <input style="text-align: right" type="number" required ng-model="row.value" min="0" max="100" class="form-control" placeholder="比例" ng-disabled="templateReadOnly || !template.edit">
                    <label for="form-body-{{$index}}">%</label>
                    <button type="button" class="btn btn-width-xsm btn-danger" ng-click="template.value.splice($index, 1)" ng-if="template.value.length > 1 && !templateReadOnly && template.edit">-</button>
                </div>
                <div class="row form-inline text-center" style="margin-top: .5em;" ng-if="!templateReadOnly && template.edit">
                    <button type="button" class="btn btn-width-sm btn-primary" ng-click="template.value.push({})">+</button>
                </div>
            </div>
        </section>
        </form>
    </div>
    <hr>

    <div class="panel-body ">
        <section class="panel-auto panel panel-featured weight-template" ng-repeat="template in templateOptions" ng-if="!template.delete" ng-dblclick="templateReadOnly ? '' : template.edit = true">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="javascript:;" class="panel-action panel-action-dismiss" ng-click="template.delete = true" ng-if="!templateReadOnly && template.edit"></a>
                </div>
                <h2 class="panel-title">
                    <div style="width: calc(100% - 1.5em)">
                        <input type="text" ng-disabled="templateReadOnly  || !template.edit" required class="form-control" ng-init="template.name = template.name || $index" ng-model="template.name">
                    </div>
                </h2>
            </header>
            <div class="panel-body">
                <div class="row form-inline" ng-repeat="row in template.value" id="form-body-{{$index}}">
                    <input type="text" required ng-model="row.name" class="form-control" placeholder="名称" ng-disabled="templateReadOnly || !template.edit">
                    <input style="text-align: right" type="number" required ng-model="row.value" min="0" max="100" class="form-control" placeholder="比例" ng-disabled="templateReadOnly || !template.edit">
                    <label for="form-body-{{$index}}">%</label>
                    <button type="button" class="btn btn-width-xsm btn-danger" ng-click="template.value.splice($index, 1)" ng-if="template.value.length > 1 && !templateReadOnly && template.edit">-</button>
                </div>
                <div class="row form-inline text-center" style="margin-top: .5em;" ng-if="!templateReadOnly && template.edit">
                    <button type="button" class="btn btn-width-sm btn-primary" ng-click="template.value.push({})">+</button>
                </div>
            </div>
        </section>
    </div>
</div>
<div ng-include="'views/basicData/schoolManage/classForm.html'"></div>
<div ng-include="'views/basicData/schoolManage/classDistribution.html'"></div>
