<!--<script type="text/ng-template" id="eduForm.html">-->
    <div class="modal-header">
        <!--<button type="button" class="close" ng-click="dismiss()"></button>-->
        <h4 class="modal-title">{{edutitle}}</h4>
    </div>
    <div class="modal-body">
        <!--<form name="schoolForm" class="form" ng-submit="saveData()">-->
            <!--<div class="row">
                <div class="col-md-12 form-inline">
                    <div class="form-group">
                        <label class="form-label">用户名：</label>
                        <label class="form-control">{{formData.name}}</label>
                    </div>
                </div>
            </div>-->
            <div class="row" ng-if="sign < 2 ? true : formData.power = 3 == 0">
                <div class="col-md-12 form-inline">
                    <span class="form-icon-required"></span>
                    <div class="form-group">
                        <label class="form-label">用户类型：</label>
                        <select ng-model="formData.power" required class="form-control" name="power">
                            <option value="{{power.sign}}" ng-repeat="power in powerOptions track by $index" ng-if="sign < power.sign || ( power.sign <= 1 && power.sign == sign)">{{power.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="sign == 0 && formData.power <= 2">
                <div class="col-md-12 form-inline">
                    <span class="form-icon-required"></span>
                    <div class="form-group">
                        <label class="form-label">学校名称：</label>
                        <input list="schoolName" required class="form-control" required ng-model="schoolName" name="schoolName" ng-change="nameChange(schoolName, schoolAndCollege, 'school')" />
                        <datalist id="schoolName">
                            <option ng-repeat="school in schoolAndCollege" value="{{school.schoolName}}" label="{{school.school_id}}"></option>
                        </datalist>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="schoolAndCollege[school_index].data.length > 0 && sign < 2 && formData.power > 1">
                <div class="col-md-12 form-inline">
                    <span class="form-icon-required"></span>
                    <div class="form-group">
                        <label class="form-label">学院名称：</label>
                        <input list="parentName" required class="form-control" required ng-model="parentName" name="parentName" ng-change="nameChange(parentName, schoolAndCollege[school_index].data, 'parent')" />
                        <datalist id="parentName">
                            <option ng-repeat="parent in schoolAndCollege[school_index].data" value="{{parent.name}}" label="{{parent.code}}"></option>
                        </datalist>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="schoolAndCollege[school_index].data[parent_index].children.length > 0 && sign < 2 && formData.power > 1">
                <div class="col-md-12 form-inline">
                    <span class="form-icon-required"></span>
                    <div class="form-group">
                        <label class="form-label" style="text-indent: 1em">系名称：</label>
                        <input list="collegeName" required class="form-control" required ng-model="collegeName" name="collegeName" ng-change="nameChange(collegeName, schoolAndCollege[school_index].data[parent_index].children, 'college')" />
                        <datalist id="collegeName">
                            <option ng-repeat="college in schoolAndCollege[school_index].data[parent_index].children" value="{{college.name}}" label="{{college.code}}"></option>
                        </datalist>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-inline">
                    <span class="form-icon-required"></span>
                    <div class="form-group">
                        <label class="form-label" ng-if="formData.power <= 1">编号：</label>
                        <label class="form-label" ng-if="formData.power == 2">工号：</label>
                        <label class="form-label" ng-if="formData.power == 3">学号：</label>
                        <input type="text" ng-model="formData.code" required class="form-control" name="code"  >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-inline">
                    <div class="form-group">
                        <label class="form-label">备注：</label>
                        <textarea rows="8" ng-model="formData.tinfo" class="form-control no-resize" name="info2"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-inline">
                    <div class="form-group">
                        <button class="btn btn-primary btn-single btn-width-md margin-auto">保存</button>
                    </div>
                </div>
            </div>
        <!--</form>-->
    </div>

<!--</script>-->